body{
    background: linear-gradient(to right, #ff987c, #9c2c5a);
    background-repeat: no-repeat;
}
img.logo{
    padding:none;box-shadow: 0;align-self: center; margin-right: 8px; margin-top:5px; border-top-right-radius: 10000px;
    border-top-left-radius: 10000px; border-bottom-left-radius: 10000px;
}